<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/vendor.css') }}">
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <a href="{{ path('test') }}">test</a>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/vendor-footer.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
